body{
    background-color: rgb(255, 255, 255);
    color:black;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
 nav {
    background-color: rgb(0, 89, 255);
    text-align: center;
    padding:25px;
}
nav a {
    color:black;
    text-decoration: none;
    padding:20px;
    font-weight: bold;
}
nav a:hover{
text-decoration: underline;
}
header{
    background-color: rgb(91, 148, 255);
}
.letraB{
    position: absolute;
    color:green;
    font-size: 120px;
    top: 10%;
    left: 20%;
}
.letraR{
    position: absolute;
    color:rgb(251, 255, 2);
    font-size: 120px;
    top: 10%;
    left: 30%;
}
.letraA{
    position: absolute;
    color:rgb(0, 9, 128);
    font-size: 120px;
    top: 10%;
    left: 40%;
}
.letraS{
    position: absolute;
    color:green;
    font-size: 120px;
    top: 10%;
    left: 50%;
}
.letraI{
    position: absolute;
    color:rgb(251, 255, 2);
    font-size: 120px;
    top: 10%;
    left:60%;
}
.letraL{
    position: absolute;
    color:rgb(0, 9, 128);
    font-size: 120px;
    top: 10%;
    left: 70%;
}
main{
    color:black;
    background-color: antiquewhite;
    
}